@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Roboto:wght@100;300;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";

}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_Side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.proftext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.proftext img{
    position: relative;
    width: 200px;
    height: 200px;
}
.proftext h2 {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.proftext h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}
.title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.contactInfo ul {
    position: relative;
    padding: 20px 0;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;
    
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #2986b1;

}

.contactInfo ul li span {
    font-weight: 300;
    color: white;

}







.container .right_Side{
    position: relative;
    background: white;
    padding: 40px;
}